.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar * {
  color: white;
}

.basic-info {
  border: solid 2px #444;
  border-radius: 5px;
}
.basic-info * {
  text-transform: capitalize;
}

.profile-picture {
  border: solid 2px #444;
  border-radius: 5px;
  max-width: 250px;
}

.jumbotron {
  background-color: #C7F0FE;
  margin-bottom: 1em;
}

.alert {
  margin-bottom: 0px;
}

.icon-bar {
  background-color: white;
}


@media (max-width: 767px) {
  .dropdown-menu>li>a {
    color:white;
  }
}

a.navbar-brand:hover {
  color:black;
}

a:hover {
  transition: color .5s ease, background-color .5s ease;
}

.profile-box img {
  max-width: 200px;
  max-height: 200px;
}

.profiles-view {
  text-align: center;
}

.profile-box {
  border: solid 1px #666;
  border-radius: 30px;
  margin-bottom: 2em;
}

.profile-box h4 {
  display:block;
  background-color: #C7F0FE;
  padding: .5em 0;
  border-top: solid 1px #666;
  border-bottom: solid 1px #666;
}

.search-query {
  margin-top: 2em;
  border-bottom: solid 2px #666;
}